@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*background image of blue water*/
.background {
background-image: url(./images/portfolioBackground.jpg);
}
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

/*NAV STYLING*/
.nav {
    box-shadow: -3px 22px 15px -29px #000000;
    height: 70px; /*set height of header*/
    display: flex; /*set 2 items in header next to each other*/
    justify-content: space-between; /*maximise space between the 2 items*/
    align-items: flex-end; /*puts items in the centre of the navigation bar*/
    flex-direction: column;
}

.nav-links h1{
    /*background-color: chartreuse;*/
    display: flex;
    justify-content: center;
}

/* RESIZE LOGO USING img AS ONLY ONE IMAGE ON PAGE
if more than one image would need to use a class*/
img {
    height: 100px; /*set height of image picture of me in nav bar*/
    padding: 15px  10px ; /*set padding around image*/
}

.nav-links {
    padding-right: 30px; /*moves horizontal list in header to the left by 30px*/
}

.nav-list {
    list-style: none; /*remove bullit points from list in header*/
    padding-top: 15px;
    font-family: 'Oswald';
    font-size: 20px;
}


.nav-list li{
    display:inline-block; /* puts list in header in a horizontal line as opposed to a vertical list*/
    transition:  0.3 ease-in-out;
    padding-right: 20px;
}

a {
    text-decoration: none; /*remove underline from links in header*/
    color: black; /*change colour back to black*/
}

.nav-list li:hover { /*causes text to change weight when hovered over*/
    font-weight: 600; /*set weight of fonts in nav bar*/

}

.codenationLogo a {
    display: flex;
}

/*MAIN STYLING*/

h4 {
    color: blue;
}
main {
    /*background-color: rgb(211, 190, 210);*/
    height: 80vh; /*set height of main section of page*/
    display: flex;
    flex-direction: row-reverse; /*changes order of main and aside because
                                   main was declared before aside
                                   you could just write them the other way round*/
    
    
}
.main-content {
    /*background-color: lightskyblue;*/
    flex: 3; /*align text to the centre*/
    display: flex; /*align text to the centre*/
    align-items:center; /*align text to the centre*/
    flex-direction: column; /*align text to the centre*/
    text-align: center; /*align text to the centre*/

}

.main-content h1 {
    margin-bottom: 30px; /*set padding between paragraph and h1 heading in main content*/
}

.margin-h3 {
    margin-bottom: 20px;
}
.main-content p {
    /*width: 80%; /*set width of the text in the paragraph in main content*/
    margin-bottom: 70px;
    
}

.music {
    width: 500px;
    padding-left: 80px;
}

.computers {
    width: 500px;
    padding-left: 80px;
}

.hifi {
    width: 500px;
    padding-left: 80px;
}

/*SIDEBAR*/
.aside {
    background-color: rgb(232, 233, 167);
    flex: 0.3;
    font-size: 25px;
    padding-left: 10px;
}

.aside h5 {
    color:black;
    font-family: 'Oswald';
    padding-top: 15px;
    padding-left: 20px;
    
    
}

.codenationLogo img{
    width: 150px;
    height: 60px;
    padding-left: 5px;
    
}

.sideTitle {
    padding-left: 15px;
}

/*SPINNING LOGO*/
.wrapper{
    width: 100%;
    padding: 70px;
    box-sizing: border-box ;
}

/*set area around photo to centre it for spin + change mouse pointer*/
.photo{
    /*background-color: black;*/
    width: 75px;
    margin-left: 30px;
    padding-left: 0px;
    cursor: pointer;
    transition: 1s;
    border-radius: 1px;
}

/*rotate photo*/
.photo:hover {
    transform: rotateZ(720deg);  
}
/*put curved corners on photo*/
.photo img:hover{
    border-radius: 50%;
}
    
    #animi {
      /* this controls the animation */
      animation-name: logoanimation;
      animation-duration: 1.5s;
      animation-direction:alternate-reverse;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    
    @keyframes logoanimation {
      from {
        opacity: 100%;
        width: 100px;
      }
      to {
        opacity: 80%;
        width: 160px;
      }
    }

/*BUTTON*/
.btn {
    padding: 13px 28px; /*set padding around button 13 height 28 width*/
    background-color: rgba(217, 208, 222 1); /*set background colour of button*/
    border: none; /*set no border*/
    border-radius: 20px; /*curve edges on button*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px; /*set font size on button*/
    font-weight: 600; /*set how dark font is*/
    cursor: pointer; /*makes pointer change to a hand when it hovers over the button*/
    transition: all 0.5s; /*makes button change from rounded edges to square slowly using a bezier curve*/
}

.btn:hover {
    border-radius: 0; /*makes button change from rounded edges to square*/
    background-color: rgba(217, 208, 222 1); /*sets density of button when hovered over*/
}

.box1 {
    /*background-color: khaki;*/
    padding-top: 20px;
    height: 80vh;
    align-self: flex-start;

}

p {
    /*background-color: lightsalmon;*/


}



/* FOOTER STYING */
footer {
    background-color:dimgray;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*COPYRIGHT*/
.copyright {
    padding-top: 10px;
    color: floralwhite;
    font-size: 8px;
}

