/* phil welsby - 3 aug 2021*/

h3 {
    color: rgb(200, 15, 236);
}

h4 {
    color: royalblue;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.block1 {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    display: block;
    border: 5px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    /*background: rgba(90, 145, 90, 0.2);*/
    max-width: 50%;
}

.container2 {
    border: 5px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    /*background: rgba(158, 104, 104, 0.2);*/
    max-width: 50%;
}

.border {
    border: 3px solid black;

}

.header {
    background: rgba(158, 104, 104, 0.2);
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    max-width: 25%;
}